{% extends 'layouts.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container">
    <div class="row my-3">
    {% for product in products %}
        {% if product.image %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt=""  width="338px" height="338px"></a>
                <div class="card-body">
                    <h4 class="card-title">
                    <a href="{{product.get_url}}">{{product.name}}</a>
                    </h4>
                    <h5>฿ {{product.price | intcomma}}</h5>
                    <!-- <p class="card-text">{{product.description}}</p> -->
                </div>
                <div class="card-footer">
                    {% if product.stock <= 0 %}
                        <h5 class="text-danger">สินค้าหมด</h5>
                    {% else %}
                        <a href="{% url 'addCart' product.id %}" class="btn btn-primary">เพิ่มลงตะกร้า</a>
                    {% endif %}
                    <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}